* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 10px 100px;
}

nav h3 {
    color: #f9faf8;
    font-size: 24px;
}

nav ul {
    display: flex;
    gap: 20px;
}

.s1-container {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 80px 100px;
    gap: 20px;
}

.s1-left {
    /* width: 400px; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.s1-left h2 {
    color: #f9faf8;
    font-size: 48px;
}

.s1-left p {
    color: #e5e7eb;
    font-size: 18px;
}

.s1-right {
    color: #fff;
    background-color: #7f8286;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-grow: 10;
    max-width: 600px; 
    min-width: 400px;
}

.s1-left .sign-up {
    background-color: #3882f6;
    border: none;
    color: #fff;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 5px;
    width: fit-content;
}

.s2-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px 24px 100px;
}

.s2-container h2 {
    font-size: 36px;
    color: #1f2937;
}

.s2-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
    gap: 20px;
}

.s2-content li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    max-width: 180px;
}

.s2-content div {
    border: #3882f6 solid 2px;
    height: 120px;
    width: 120px;
    border-radius: 15px;
    
}

.s2-container h2 {
    padding: 24px 0;
}

.s3-main {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
}

.s3-container {
    background-color: #e5e7eb;
    max-width: 600px;
}

.s3-container p {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
}

.s3-container h3 {
    text-align: end;
    font-size: 24px;
}

.s4-main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
}

.s4-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 32px 64px;
    width: 100vh;
    color: #fff;
}

.s4-container .sign-up {
    background-color: #3882f6;
    border: #fff solid 2px;
    padding: 5px 20px;
    border-radius: 5px;
    color: #fff;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    background-color: #1f2937;
    color: #fff;
}



